
<link rel="stylesheet" href="../../css/style.css">
<script type="module" src="../../js/popup-item.js" defer></script>

<div class="item-card" data-item-id="your_item_id_here">
  <button class="item-exit-btn">X</button>
  <p class="item-header" contenteditable>Items</p>
  <p class="item-description" contenteditable>
    Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum
    Lorem Ipsum lorem ipsum
  </p>
  <button class="item-save-btn">Save</button>
  <button class="item-delete-btn">Delete</button>
</div>
